@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

$main-color: #F79929;
@import "custom";
@import "navigation";

/*
Useful links
https://www.smashingmagazine.com/2016/06/battling-bem-extended-edition-common-problems-and-how-to-avoid-them/
*/


* {
    box-sizing: border-box !important;
}

body {
    background-color: #F8F8F8 !important;
}

._text-right {
    text-align: right;
}

@mixin transform($x) {
    -webkit-transform: $x;
    -moz-transform: $x;
    -ms-transform: $x;
    -o-transform: $x;
    transform: $x;
}

@mixin transition($x) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin input-placeholder {
    @include optional-at-root("::-webkit-input-placeholder") {
        @content;
    }

    @include optional-at-root(":-moz-placeholder") {
        @content;
    }

    @include optional-at-root("::-moz-placeholder") {
        @content;
    }

    @include optional-at-root(":-ms-input-placeholder") {
        @content;
    }
}

a,
a:hover,
a:visited,
a:focus {
    color: #222;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
}

body {
    letter-spacing: 0.05em;
    font-family: "Pridi", serif;
    font-size: 16px;
    background-color: #fff;
    color: #636363;
    overflow-x: hidden;
}

.article {
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    border-radius: 6px;
    background-color: #FFF;

    &__picture {
        width: 100%;
        margin-bottom: 10px;
    }

    &__title {
        display: block;
        font-weight: bold;
        font-size: 20px;
        transition: color 0.1s linear;

        &:link, &:active, &:visited {
            color: #23527C;
        }

        &:hover {
            color: $main-color;
        }
    }

    &__read-more {
        text-decoration: underline;
    }

    &__description {
        display: block;

        &--trim {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            /* autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
        }
    }
}

.article-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .article {
        margin-bottom: 20px;
    }
}

.article-details {
    .header {
        margin-bottom: 20px;
    }

    .body {
        padding: 15px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
        border-radius: 6px;
        background-color: #FFF;

        img {
            max-width: 100%;
        }
    }
}

.datetime {
    color: #e394b2;
}

//TODO custom hover style and transition
.tag-list {
    > .item {
        display: inline-block;
        padding: 2px 5px;
        margin: 0 5px 5px 0;
        border: solid 1px #e2e2e2;
        color: #636363;
        font-size: 12px;
        transition: all 0.1s linear;

        &:hover {
            color: $main-color;
            border-color: $main-color;
        }

        &--big {
            font-size: 16px;
        }
    }
}

.logo {
    display: inline-block;
    text-align: center;

    @include media-breakpoint-down(xs) {
        display: block;
        margin-top: 20px;
    }

    .image {
        height: 30px;
    }

    > .quote {
        text-align: center;
        margin-top: 20px;
        width: 100%;
        display: block;
    }
}

.top-bar {
    @include make-row(); //include mixin
    border-bottom: solid #000 1px;
    padding: 10px 0;

    > .primary-top-bar {
        @include make-col-ready();

        @include media-breakpoint-up(sm) {
            @include make-col(8);
        }

        text-align: right;
    }

    > .secondary-top-bar {
        @include make-col-ready();

        @include media-breakpoint-up(sm) {
            @include make-col(4);
        }
    }
}

.primary-top-bar {
    > .search-bar {
    }

    > .user-authentication {
    }
}

.secondary-top-bar {
}

.social-network {
    display: inline-block;
    width: 15px;
    text-align: center;
}

.search-bar {
    display: inline-block;

    > .text {
        width: 180px;
    }

    > .button {
        display: inline-block;
        width: 15px;
        text-align: center;
    }
}

.user-authentication {
    display: inline-block;
    background-color: #4267b2;
    padding: 2px 2px;
    color: #222;

    > .facebook-authentication {
        margin: 0px 5px;
    }

    .admin-dashboard {
        margin: 0px 5px;
    }
}

.facebook-authentication {
    padding: 0 5px;
    text-align: center;

    &:link, &:active, &:visited, &:hover {
        color: #FFF;
    }
}

.admin-dashboard {
    padding: 0 5px;
    text-align: center;

    &:link, &:active, &:visited, &:hover {
        color: #FFF;
    }
}

.blog-title {
    color: $main-color;
}
