<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Codesanook Description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
    <title>CodeSanook</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="node_modules/slick-carousel/slick/slick.css" type="text/css"/>
    <link rel="stylesheet" href="node_modules/slick-carousel/slick/slick-theme.css" type="text/css"/>
    <link rel="stylesheet" href="node_modules/sweetalert2/dist/sweetalert2.min.css" type="text/css"/>
    <link rel="stylesheet" href="node_modules/material-design-icons/iconfont/material-icons.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Pridi|Taviraj" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/slick-carousel/slick/slick.min.js"></script>
    <script src="node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="myCtrl">
    <div id="header">
      <div class="container-wrapper">
        <div class="logo text-center p-t-10 p-b-10 has-border-bottom">
          <img src="images/logo.png" /><br />
          <small>สนุกไปกับการเขียนโค้ด สังคมแห่งการเรืยนรู้ แบ่งปันความรู้ด้านโปรแกรมมิ่ง</small>
        </div>
      </div>
    </div>
    <i id="btn-main-nav" class="material-icons" ng-click="mainNavOpened = !mainNavOpened">&#xE5D2;</i>
    <div id="main-nav" ng-class="{ 'opened': mainNavOpened }">
      <div class="container-wrapper">
        <ul>
          <li ng-repeat="menu in menus" ng-click="openMenu(menu)" ng-class="{ 'opened': menuOpened === menu.text }">
            <a ng-attr-href="{{ (menu.subs.length > 0) ? '#' : menu.href }}">
              <span>{{ menu.text }}</span>
              <i class="material-icons" ng-if="menu.subs.length > 0">&#xE313;</i>
            </a>
            <ul class="unstyle" ng-if="menu.subs.length > 0">
              <li ng-repeat="sub in menu.subs">
                <a ng-attr-href="{{ sub.href }}">{{ sub.text }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div id="content">
      <div class="featured-slide">
        <ul class="unstyle">
          <li ng-repeat="item in articles">
            <div class="slide" ng-style="{ 'background-image': 'url(' + item.image +')' }">
              <div class="wrap">
                <div class="tags">
                  <span ng-repeat="tag in item.tags">
                    <a ng-attr-href="{{ tag.href }}">{{ tag.name }}</a>
                    <span ng-if="!$last"> | </span>
                  </span>
                </div>
                <h2>{{ item.topic }}</h2>
                <small>{{ item.datetime }} by {{ item.author }}</small>
                <a href="#" class="btn-read-more">Read More <i class="material-icons">&#xE5C8;</i></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="container-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <ul class="unstyle article-list">
                <li ng-repeat="item in articles">
                  <a href="#" class="container-fluid">
                    <div class="row">
                      <div class="col-sm-4">
                        <img ng-attr-src="{{ item.image }}" class="full-width m-b-10" />
                      </div>
                      <div class="col-sm-8">
                        <div class="tags">
                          <small ng-repeat="tag in item.tags">
                            <span>{{ tag.name }}</span>
                            <span ng-if="!$last"> | </span>
                          </small>
                        </div>
                        <h5>{{ item.topic }}</h5>
                        <small class="datetime">{{ item.datetime }} by {{ item.author }}</small>
                        <div class="desc">{{ item.desc }}</div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
              <div class="text-center">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link prev" href="#">
                      <i class="material-icons">&#xE314;</i>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link next" href="#">
                      <i class="material-icons">&#xE315;</i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="about widget">
                <h2><span>About CodeSanook</span></h2>
                <img src="images/pic-ex-04.jpg" class="full-width" />
                <div class="m-t-10 text-justify">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin cursus tortor vel ante tempus, ullamcorper consequat est tempus. Cras id felis nisl. Donec mattis blandit nulla, ac lobortis magna aliquam id. Sed eget quam nec purus posuere lobortis in a tortor. Integer id posuere lorem, quis viverra magna. Fusce ut justo eget lectus volutpat aliquam. Vestibulum sed maximus diam.</div>
              </div>
              <div class="social widget">
                <h2><span>Get Connected</span></h2>
                <div style="background-color:#4267b2;text-align:center;padding:150px 0;color:white;">Facebook</div>
              </div>
              <div class="recent-posts widget">
                <h2><span>Recent Posts</span></h2>
                <ul class="unstyle">
                  <li ng-repeat="item in articles">
                    <a href="#">
                      <h5>{{ item.topic }}</h5>
                      <small class="datetime">{{ item.datetime }} by {{ item.author }}</small>
                      <div class="desc">{{ item.desc }}</div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="tags widget">
                <h2><span>Popular Tag</span></h2>
                <a href="#" class="tag" ng-repeat="tag in tags track by $index">{{ tag }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
