@{
    // Number of page number links to show, 0 means no link, 1 means only the current page, or more accepted.
    Model.Quantity = 5;

    Model.FirstText = T("First");
    Model.LastText = T("Last");

    Model.PreviousText = T("Previous");
    Model.NextText = T("Next");

    Model.Metadata.Alternates.Clear();

    // Later, Model.Metadata.Type will be set to List type in CoreShapes.Pager_Links method
    Model.Metadata.Type = "Pager_Links";

    // Add classes for ul tag (List core shape)
    Model.Classes.Add("pagination");
    Model.Classes.Add("justify-content-center");

    // Add class for li tag (List core shape)
    Model.ItemClasses = new List<string>() { "page-item" };
}

<nav>
    @Display(Model)
</nav>

