@{
    var tagsHtml = new List<IHtmlString>();
    foreach (var t in Model.Tags)
    {
        tagsHtml.Add(
            Html.ActionLink((string)t.TagName,
                "Search",
                "Home",
                new { area = "Orchard.Tags", tagName = (string)t.TagName }, new { @class = "item" }
            )
        );
    }
}

@if (tagsHtml.Any())
{
    <div class="tag-list">
        <span>@T("Tags:")</span>
        @foreach (var htmlString in tagsHtml)
        {
            @htmlString
        }
    </div>
}
