@{
    //To do check HTML nofollow
    var logInUrl = this.Url.Action("LogOn", new
    {
        Controller = "Account",
        Area = "Orchard.Users",
        ReturnUrl = Request.QueryString["ReturnUrl"] ?? Request.RawUrl
    });

    var logOutUrl = this.Url.Action("LogOff", new
    {
        Controller = "Account",
        Area = "Orchard.Users",
        ReturnUrl = Request.RawUrl
    });
}

<div class='user-authentication'>
    @if (WorkContext.CurrentUser != null)
    {
        <a href="@logOutUrl" class='facebook-authentication' title="log out">
            <i class="icon fa fa-sign-out"></i>
        </a>
        if (AuthorizedFor(Orchard.Security.StandardPermissions.AccessAdminPanel))
        {
            var dashboardUrl = this.Url.Action("Index", new { Controller = "Admin", Area = "Dashboard" });
            <a href="@dashboardUrl" class="admin-dashboard" title="dashboard">
                <i class="icon fa fa-desktop"></i>
            </a>
        }
    }
    else
    {
        <a href="@logInUrl" class='facebook-authentication'>
            <i class="icon fa fa-facebook-f"></i>
            Log in
        </a>
    }
</div>
