@{
    //To do check HTML nofollow
    var logInUrl = this.Url.Action("LogOn", new
    {
        Controller = "Account",
        Area = "Orchard.Users",
        ReturnUrl = Request.QueryString["ReturnUrl"] ?? Request.RawUrl
    });

    var logOutUrl = this.Url.Action("LogOff", new
    {
        Controller = "Account",
        Area = "Orchard.Users",
        ReturnUrl = Request.RawUrl
    });
}

<div class='user-authentication'>
    @if (WorkContext.CurrentUser != null)
    {
        <span>Hello @Html.ItemDisplayText(WorkContext.CurrentUser)</span>
        <a href="@logOutUrl" class='logout'><i class="fa fa-facebook-f"></i>Log out</a>
        if (AuthorizedFor(Orchard.Security.StandardPermissions.AccessAdminPanel))
        {
            @Html.ActionLink(T("Dashboard").ToString(), "Index", new { Area = "Dashboard", Controller = "Admin" })
        }
    }
    else
    {
        <a href="@logInUrl" class='facebook-login'>
            <i class="icon fa fa-facebook-f"></i>
            Log in
        </a>
    }
</div>
